@import "~bootstrap/scss/bootstrap.scss";

body{
    background: darkcyan;
}

ul{margin: 50px; padding: 150px;}

li{
    list-style: none;
}

.trafficLight{
    background-color: black;
    width: 140px;
    padding: 20px;
    margin: auto;


li:nth-child(1){
    background: red;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

li:nth-child(2){
    background: yellow;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

li:nth-child(3){
    background: green;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
}

.selected{
    box-shadow: #fff 0px 0px 15px 15px;
}